.window {
  /* position */
  position: fixed;

  /* sizing */
  max-width: 100vw;

  /* flex */
  display: flex;
  flex-direction: column;

  /* styling */
  border-radius: 0.5rem;
  background-color: var(--background-200);
  -webkit-box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.125);
}

.window.inFocus {
  z-index: 500;
  -webkit-box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.25);
}

.window.fullscreen {
  /* position */
  inset: 0 !important;
  translate: 0 0;

  /* sizing */
  width: 100vw;
  height: calc(100vh - 4rem);

  /* styling */
  border-radius: 0rem;
}

.window > .toolbar {
  /* sizing */
  width: 100%;
  height: 30px;
  flex-shrink: 0;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

.window > .toolbar .title {
  /* spacing */
  padding-inline: 0.75rem;

  /* text */
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;

  /* no-select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window > .toolbar .group {
  /* sizing */
  height: 100%;

  /* flex */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.window > .toolbar button {
  /* sizing */
  width: 3rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* styling */
  border: none;
  background-color: transparent;
  color: inherit;
}

.window > .toolbar button:hover {
  background-color: var(--background-400);
}

.window > .toolbar button.close:hover {
  background-color: darkred;
}

.window > .toolbar button .icon {
  /* sizing */
  font-size: 1rem;
}

.window > .container {
  /* sizing */
  margin: 0.25rem;
  padding: 0.75rem;
  flex-grow: 1;
  min-width: 350px;
  min-height: 100px;
  max-width: calc(100% - 0.5rem);

  /* styling */
  background-color: var(--background-100);
  border-radius: 0.25rem;
  overflow: hidden;
}

.window > .toolbar + .container {
  /* sizing */
  margin-top: 0;
}

.window > .container.resizeable {
  resize: both;
}

.window.fullscreen > .container {
  border-radius: 0.5rem;
  width: calc(100% - 0.5rem) !important;
  height: 100% !important;
}

.window {
  opacity: 0;
  scale: 0.9;
  animation: fade-in 200ms forwards ease;
  /* transition: opacity 200ms ease, scale 200ms ease; */
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0.9;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    scale: 1;
  }

  to {
    opacity: 0;
    scale: 0.9;
  }
}

.window.notVisible {
  animation: fade-out forwards 200ms ease;
  pointer-events: none;
}

.window > .macToolbar {
  /* sizing */
  width: 100%;
  height: 1.5rem;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.window > .macToolbar .title {
  /* spacing */
  padding-inline: 0.75rem;

  /* text */
  font-size: 0.65rem;
  font-weight: 600;
  line-height: 1;

  /* no-select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window > .macToolbar .group {
  /* sizing */
  height: 100%;
  margin-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;

  pointer-events: none;
}

.window > .macToolbar button {
  /* sizing */
  --_size: 0.75rem;
  width: var(--_size);
  height: var(--_size);

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* styling */
  border: none;
  background-color: #00ca4e;
  color: black;
  border-radius: 50%;
  pointer-events: auto;
}

.window > .macToolbar button.fullscreen {
  background-color: #ffbd44;
}

.window > .macToolbar button.close {
  background-color: #ff605c;
}

.window > .macToolbar button.close:hover {
  background-color: darkred;
}

.window > .macToolbar button .icon {
  /* sizing */
  font-size: 0.5rem;

  /* hiding */
  opacity: 0;
  transition: opacity 100ms ease;
}

.window > .macToolbar button:hover .icon {
  opacity: 1;
}

.window > .macToolbar + .container {
  /* sizing */
  margin-top: 0;
}

.window > .dexToolbar {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.window > .dexToolbar .button {
  /* sizing */
  width: 5rem;
  height: 0.75rem;

  /* styling */
  background-color: var(--background-500);
  border: none;
  border-radius: 2rem;
  border: 0.25rem solid var(--background-200);
}

.window > .dexToolbar .group {
  /* position */
  position: absolute;
  bottom: -0.25rem;

  /* sizing */
  /* padding: 0.35rem 0.6rem; */

  /* flex */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;

  /* styling */
  background-color: var(--background-100);
  outline: 0.25rem solid var(--background-200);
  border-radius: 0.25rem;
  overflow: hidden;
}

.window.fullscreen > .dexToolbar .group {
  bottom: auto;
  top: 0.25rem;
}

.window > .dexToolbar .group button {
  /* sizing */
  width: 2rem;
  height: 1.5rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* styling */
  border: none;
  color: inherit;
  pointer-events: auto;
  background-color: transparent;
}

.window > .dexToolbar .group button:hover {
  background-color: #00ca4e;
}

.window > .dexToolbar .group button.default:hover {
  background-color: var(--background-500);
}

.window > .dexToolbar button.fullscreen:hover {
  background-color: #ffbd44;
}

.window > .dexToolbar button.close:hover {
  background-color: #ff605c;
}

.window > .dexToolbar button .icon {
  /* sizing */
  font-size: 0.65rem;
}

.window > .dexToolbar + .container {
  /* sizing */
  margin-top: 0;
}
