.container {
  /* grid */
  display: grid;
  grid-template-rows: 4fr 3fr;

  color: var(--text);
}

.main {
  /* sizing */
  padding: 1rem;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  /* spacing */
  margin: 0;

  /* text */
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.main span {
  /* text */
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 1;
}

.main p {
  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.footer {
  /* sizing */
  padding: 1rem;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* styling */
  color: var(--text);
  background: var(--background-200);
  border-radius: 0.5rem;
}

.footer svg {
  width: 80%;
  fill: currentColor;
}

.footer span {
  /* text */
  font-size: 0.75rem;
}
